<div sideBar class="main-sidebar">
  <div>
    <div  class="item" routerLink="/">
      <img src="./assets/images/svg/lamp.svg" alt="lamp" class="pic">
      <span class="text">Notes</span>
    </div>
    <div class="item">
      <img src="./assets/images/svg/reminder.svg" alt="reminder" class="pic">
      <span class="text">Reminders</span>
    </div>
    <div class="item">
      <img src="./assets/images/svg/pen.svg" alt="pen" class="pic">
      <span class="text">Edit labels</span>
    </div>
    <div  class="item" routerLink="/archive">
      <img src="./assets/images/svg/archive.svg" alt="archive" class="pic">
      <span class="text">Archive</span>
    </div>
    <div  routerLink="/trash" class="item">
      <img src="./assets/images/svg/trash.svg" alt="trash" class="pic">
      <span class="text">Trash</span>
    </div>
  </div>
</div>

<div #modalContainer class="modal-container">
  <div #modal class="modal">
    <div class="label-modal-main">
      <div class="header">
        <div class="input-container">
          <div #plusIcon class="plus-icon H" (click)="labelInput.value=''"></div>
          <input #labelInput (blur)="plusIcon.classList.toggle('cancel-icon')"
                 (focus)="plusIcon.classList.toggle('cancel-icon')"
                 type="text" placeholder="Create new label" maxlength="50" (input)="''">
          <div [style.display]="labelInput.value.length ? 'block' : 'none'" class="check-icon H"
               ></div>
        </div>
        <div #labelError class="error" hidden>Label already exists</div>
        <div class="labels-container" >
          <div #labelIcon class="label-icon H" ></div>
          <input (focus)="labelIcon.classList.toggle('trash-icon')" #labelInput
                 (keydown.enter)="labelInput.blur()">
          <div class="pen-icon H" ></div>
        </div>
      </div>
      <div class="footer">
        <div  type="submit" tabindex="0">Done</div>
      </div>
    </div>
  </div>
</div>
