<div #mainNote class="form-container" [hidden]="!isMainNoteOpen">
  <form class="main-note">
    <input class="note-text" type="text" placeholder="Take a note..." (click)="showDropNote()"/>
    <div class="form-actions">
    </div>
  </form>
</div>

<div #dropNote class="form-container active-form" [hidden]="!isDropNoteOpen">
  <form class="drop-note">
    <input type="text" class="note-title" placeholder="Title"/>
    <input class="note-text" type="text" placeholder="Take a note..."/>
    <div class="form-actions">
      <div class="icons">
        <div class="tooltip">
          <span class="material-icons-outlined hover small-icon">archive</span>
          <span class="tooltip-text">Archive</span>
        </div>
        <div class="tooltip" (click)="toggleDropdown()">
          <span class="material-icons-outlined hover small-icon">more_vert</span>
          <span class="tooltip-text">More</span>
        </div>
      </div>
      <button class="close-btn">Close</button>
    </div>
  </form>
  <div *ngIf="isDropdownOpen" class="dropdown-menu">
    <div (click)="addLabel()">Add label</div>
  </div>
</div>


